
body {
  background-image: url('fondo3.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #4D5656; 
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

p1 {
  font-size: 18px; /* Cambia el tamaño de fuente a 18px */
  line-height: 1.5; /* Ajusta el espaciado entre líneas */
  color: #BFC9CA; /* Cambia el color del texto a rojo (#FF0000) */
  font-weight: bold; /* Hace que el texto sea en negrita */
}




form {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-label {
  display: inline-block;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #0078d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005cbf;
}
     
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.item {
  text-align: center; 
}


.item img {
  max-width: 100%;
  height: auto;
  display: block; 
  width: 100%; 
}


.item p {
  font-size: 16px; 
  margin-top: 5px;
} 